@page
@using WebApplication1.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@model WebApplication1.Pages.ListCats

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cats[0].id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cats[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cats[0].Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cats[0].favoriteDish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cats) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.favoriteDish)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</body>
</html>